html{
    background-color: rgb(38, 41, 41);
}


h1{
    color: aliceblue;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

img{
    border: 2px solid rgb(174, 177, 15);
    width: 200px;
    height: 200px;
    transform: rotate(-5deg);
    padding-top: 5px;
    
}
